{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a></p>

{% if heading %}
<h1>{{heading}}</h1>
{% else %}
<h1>Customers</h1>
{% endif %}

{% if query %}
<p>Search results for: <span>{{query}}</span></p>
{% endif %}

<ul style="column-count: 4">
  {% for customer in customers %}
  <li><a href="/{{ customer.id }}/">{{ customer.firstName }} {{ customer.lastName }}</a></li>
  {% endfor %}
</ul>

{% endblock %}